.artist-overview-card {
  min-height: 400px;
}

.artist-overview-card .card {
  min-height: 400px;
}


.artist-overview-card .card .overlay-image {
  max-height: 400px;
  object-fit: cover;
}


.info-section {
  min-width: 300px;
}

.info-section  .title {
  font-weight: 700;
}

.album-card {
  min-width: 280px;
}

iframe {
  background-color: transparent;
}